.searchBar {
  margin-top: 2em;
  display: flex;
  align-items: center;
  z-index: 2;
  .typeahead {
    margin-left: auto;
    width: 50%;
  }
  
  .btn_OutlineSecondary {
    margin-right: auto;
    color: white;
    height: 2.4rem;
    border-radius: 0 15% 15% 0;
    z-index: 2;
    background-color: rgb(219, 58, 219);
    border-color: transparent;
  }
}