.form-inline {
    margin-left: auto;
    .form-control input{
        width: 25vw;
    }
}

#searchInput {
    width: 325px;
}

@media only screen and (max-width: 550px) {
    #logo {
        display: none;
    }
    .form-inline {
        margin: 0;
    }
    #searchInput {
        margin: auto;
        width: 90vw;
    }
}