.spinnerContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #787379ab;
    z-index: 99;
    display: flex;
    justify-content: center;
    .ldsRing {
        display: inline-block;
        margin: auto;

        div {
            display: flex;;
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 8px solid #fff;
            border-radius: 50%;
            animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: rgb(105, 23, 138) transparent transparent transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }
            &:nth-child(2) {
                animation-delay: -0.3s;
            }
            &:nth-child(3) {
                animation-delay: -0.15s;
            }
            @keyframes ldsRing {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }         
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../media/poke-bg.jpg');
    background-repeat: round;
    z-index: 1;
    &:before {
        content: "";
        position: fixed;
        background-color: #230725b9;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }
    .listPage {
        background-color: transparent;
    }
    .pokeList {

        button {
            transform: translateY(-5px);
            min-width: 100%;
            background-color: #543956;
            border: none;
            color: #d5d0d6;
            font-weight: bolder;
            z-index: 1;
            &:hover {
                color: #d5d0d6;
                background-color: #570d57;
                transition: all 0.5s ease-in-out;
            }
            
            &:focus {
                box-shadow: none;
            }
        }
    }
}